{namespace rkwSearch=RKW\RkwSearch\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<f:if condition="{configForm.hideFilters} != 1">
		<f:render partial="Search/Form" arguments="{_all}" />
	</f:if>
	<f:if condition="{errorMessage}">
		<p class="error">{errorMessage}</p>
	</f:if>

	<div id="search-result-section-{containerId}" class="search-result-section" aria-live="assertive" aria-atomic="true" role="main">
		<f:if condition="{searchResult}">
			<f:then>
				<f:render partial="<rkwSearch:GetPartial type='{template}' subPath='Search/Result/List'/>" arguments="{_all}" />
			</f:then>
			<f:else>
				<p class="text-message"><f:translate key="templates_search_example.noResults" extensionName="rkwSearch"  /></p>
			</f:else>
		</f:if>
	</div>

	<f:if condition="{queryTime}" >
		<!-- QueryTime: {queryTime} Sec. -->
	</f:if>


</f:section>