{namespace rkwSearch=RKW\RkwSearch\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<f:flashMessages renderMode="div" />

	<f:if condition="{keywords}">
		<ul id="rkw-search-most-searched">
			<f:for each="{keywords}" as="keyword">
				<li data-query="{keyword.nameCaseSensitive}" class="pre-queries-item"><a href="#" aria-controls="search-result-section">{keyword.nameCaseSensitive}</a></li>
			</f:for>
		</ul>
		<script>
			if (jQuery('#searchbox-search').parent('.searchbox').is(':hidden')) {
				jQuery('#rkw-search-most-searched').prev().remove();
				jQuery('#rkw-search-most-searched').remove();
			}
		</script>
	</f:if>
</f:section>